@import "bootstrap.less";
@import "../fonts/fontello/css/fontello.less";

// ---------------------------------------------

/* app css stylesheet */

.dkv-app {
	position: relative;
	min-width: 600px;
	min-height: 400px;
	font-size: 13px;

	*,
	*:before,
	*:after {
	  .box-sizing(border-box);
	}
}

div.container2 {
	.row {
		margin:0;
	}
}

// ---------------------------------------------

// video

.dkv-videos {
	width: 100%;
	float: left;

	.dkv-video {
		// padding-top: 20px;
		// padding-bottom: 20px;
		margin-bottom: 20px;

		.dkv-video-img {
			overflow: hidden;
			border-radius: 4px;
			border: 3px solid #fff;
			margin-bottom: 0.5em;
			background: #eee;
			width: 100%;
			line-height: 0;

			img {
				width: 100%;
				line-height: 0;
			}
		}

		.dkv-video-details {
			h4 {
				cursor: default;
				text-align: center;
				height: 20px;
				white-space:nowrap;
				overflow: hidden;
				text-overflow:ellipsis;
			}
		}

		&:hover {
			// cursor: pointer;

			.dkv-video-img {
				border-color: #bf503f;
			}

			.dkv-play {
				display: block;
			}
		}

		&.dkv-selected {
			.dkv-video-img {
				border-color: @actionColor;
			}

			h4 {
				color: @actionColor;
			}
		}
	}
}

// ---------------------------------------------

// video thumb

div.dkv-videos-thumb
{
    display: inline-block;
    position: relative;
    // float: left;
    overflow: hidden;
    background:#ccc;
    border-color:#aaa;
    border-width:0px;
    -moz-border-radius:1%;
    -webkit-border-radius:0%/1%;
    border-radius:0%/1%;
    border-style:solid;

    .dkv-clip-outer {

    	// w&h

        width: 80px;
        height: 80px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        vertical-align: bottom;

        .dkv-clip {
            display: block;
            position: absolute;


            // pos

            bottom: -50%;
            top: -50%;
            left: -50%;
            right: -50%;

            text-align: center;
            white-space: nowrap;
            word-break: normal;
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            background: transparent;

            .dkv-clip-inner {
                display: block;
                position: absolute;

                // t,l,w,h

                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                img {

                	// w

                    width: auto;
                    display: inline-block;
                    vertical-align: middle;
                    border: 0;
                    outline: none;

                    min-width: 300;
                }

                .dkv-vertical-align {
                    height: 100%;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }
}

div.dkv-videos-thumb {

	.dkv-play {

		display: none;

        opacity: .8;
        position: absolute;
        top:0px;
        left:0px;
        width:40px;
        height: 40px;
        background: #222;
        border: 2px solid #fff;
        text-align: center;

        border-radius: 2em;

        &:hover {
            // opacity: .6;
            cursor: pointer;
            text-decoration: none;
        }

        i {
            font-size: 18px;
            color: #fff;
            line-height: 2.1em;
            margin-left: 2px;
        }
    }

    .dkv-duration {
        opacity: .7;
        color: #fff;
        background: #000;
        position: absolute;
        bottom:5px;
        right: 5px;
        padding: 0em 0.3em;
        font-size: 0.85em;
        line-height: 1.4em;
        font-weight: bold;

        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;
    }
}

// ---------------------------------------------
// btn

.dkv-btn {
	background: @grey1;
	color: @grey3;
	padding: 5px 9px;
	text-decoration: none !important;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 4px;

	&.dkv-submit {
		background-color: @actionColor;
		color: #fff;
	}
}

.dkv-disabled {
	opacity: .3;
	cursor: default;
}

// ---------------------------------------------
// no videos

.dkv-no-videos {
	padding: 10px;
	position: absolute;
}

// ---------------------------------------------
// videos placeholder

.dkv-videos-placeholder {
	position: absolute;

	i {
		font-size: 6em;
		color: #eee;

	}
}

// ---------------------------------------------
// misc

.dkv-hidden {
	display: none;
}

.dkv-pad {
	.btn-group {
		display: block;

		.btn {
			float: none;
			width: 100%;
		}
	}
}


// ---------------------------------------------
// sidebar

.dkv-sidebar {
	// border-right: 1px solid #fafafa;
	padding: 0;

	&.dkv-top {
		a.dropdown-toggle {
			text-decoration: none;
			cursor: pointer;
		}
	}

	h2 {
		text-transform: uppercase;
		font-size: 1.0em;
		color:#ccc;
		padding: 10px 25px;
		padding-top: 20px;
		padding-bottom: 6px;
		margin: 0;
	}

	ul.dkv-nav {
		margin: 0;
		list-style: none;
		padding: 0;

		li {
			a {
				padding: 6px;
				padding-left: 20px;

				display: block;
				color:#333f4d;
				text-decoration: none;

				&:hover {
					color:#0d78f2;
				}

				&.active {
					background: #333f4d;
					color: #fff;

					&:hover {
						color: #fff;
					}
				}

			}
		}

	}
}


// ---------------------------------------------
// layout

.dkv-content {
	padding: 0;

	&.dkv-middle {
		position: relative;

		.dkv-pad {
			padding: 20px 10px;
		}
	}
}

.dkv-top {
	border-bottom: 1px solid #fafafa;
	height: 88px;

	.dkv-pad {
		padding: 25px;
	}
}

.dkv-middle {
	height: 300px;
	overflow: auto;
	border-right: 1px solid #fafafa;
}

.dkv-bottom {
	border-top: 1px solid #fafafa;

	.dkv-pad {
		padding: 20px 10px;
		text-align: right;
	}
}

.dkv-top.dkv-sidebar {

	border-right: 1px solid #fafafa;

	.btn-group {
		display: block;
		// margin-right: -10px;

		.dropdown-toggle {
			float: none;
			display: block;
			width: 100%;
			background: #fff;
			padding: 6px 10px;
			font-size: 1.1em;
			border: 1px solid #ddd;
			border-radius: 3px;

			.caret {
				position: absolute;
				top: 45%;
				right:15px;
			}
		}
	}
}

// ---------------------------------------------
// search

.dkv-search {

	.dkv-buttons {
		float: right;

		.dkv-btn {
			display: inline-block;
			padding: 10px 8px;
			line-height: 0;
			font-size: 14px;
			color: #555;

			i {
				padding: 0;
			}
		}
	}

	.dkv-searchFieldWrap {
		position: relative;
		margin-right: 50px;

		i {
			position: absolute;
			top: 0;
			left: 0;
			margin: 6px 8px;
			font-size: 1.2em;
		}

		input.text {
			border: 1px solid #ddd;
			padding: 7px 10px;
			padding-left: 30px;
			font-size: 13px;
			width: 100%;

			&:focus {
				border-color: #aaa;
				background: #fff;
			}
		}
	}
}


// ---------------------------------------------
// loading app

.dkv-loading-app {
	position: absolute;
	width: 36px;
	height: 36px;
	color: #eee;

	i {
		font-size: 2em;
	}
}

// ---------------------------------------------
// reload

.dkv-reload {

	.dkv-icon-cw {
		display: inline-block;
	}

	.dkv-icon-spin {
		display: none;
	}

	&.dkv-loading {
		.dkv-icon-cw {
			display: none;
		}

		.dkv-icon-spin {
			display: inline-block;
		}
	}
}


// ---------------------------------------------
// player

.dkv-player {
	position: fixed;
	top:0;
	left:0;
	z-index: 10000;
	width: 100%;
	background: #fff;

	.dkv-wrap {
		.dkv-window {
			background: #000;

			iframe {
				width: 100%;
				height: 100%;
			}
		}
	}
}


// ---------------------------------------------
// overlay

.dkv-overlay {
	background: #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	top:0;
	left: 0;
	opacity: .9;
}

// ---------------------------------------------
// video more

.dkv-video-more {
	clear: left;
	text-align: center;
	padding: 40px 0;

	.dkv-btn {

		i {
			display: none;
		}

		&.dkv-loading {
			i {
				display: inline-block;
			}
		}
	}
}