
// field

.dkv-field {

	font-size: 13px;

	input.text {
		display: none;
	}

	.dkv-btn {
		display: none;
	}

	.dkv-embed {
		display: none;
		height: 338px;
		padding: 5px;
		background: #fff;
		border: 1px solid @grey1;

		iframe, object {
			width: 100%;
			height: 100%;
		}
	}
}


// modal

.dkv-app {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background:#fff;
	width: 80%;
	height: 80%;
	overflow: hidden;

    -webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);

    .dkv-content {
        overflow: auto;
    }
}
