<div class="dkv-loading dkv-loading-app dkv-hidden"><i class="dkv-icon-spin animate-spin"></i></div>

<div class="container2">

    <div class="row">

        <!-- Sidebar : Providers -->

        <div class="dkv-top dkv-sidebar col-xs-3 col-sm-3 col-md-3 col-lg-2">
            <div class="dkv-pad">
                <div class="btn-group">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        {{currentProvider.name}} <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="provider in videoProviders">
                            <a href="#/{{provider.handle}}">{{provider.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Search -->

        <div class="dkv-top dkv-content dkv-search col-xs-9 col-sm-9 col-md-9 col-lg-10">
            <div class="dkv-pad">
                <!--<div class="dkv-loading dkv-hidden"></div>-->

                <div class="dkv-buttons">
                    <a class="dkv-reload dkv-loading dkv-btn" ng-click="reload()"><i class="dkv-icon-cw"></i><i class="dkv-icon-spin animate-spin"></i></a>
                </div>

                <div class="dkv-searchFieldWrap">
                    <i class="dkv-icon-search"></i>
                    <input type="text" ng-model="searchQuery" ng-change="search()" placeholder="{{'_search_videos_on_' | i18n}} {{currentProvider.name}}" class="text" />
                </div>
            </div>
        </div>

    </div>


    <div class="row">


        <!-- Sidebar : sections -->

        <div class="dkv-sidebar dkv-middle col-xs-3 col-sm-3 col-md-3 col-lg-2">
            <div class="dkv-pad">
                <div ng-repeat="section in currentProvider.sections">
                    <h2>{{section.name}}</h2>

                    <ul class="dkv-nav">
                        <li ng-repeat="sectionChild in section.childs">
                            <a href="#{{sectionChild.url}}" ng-class="getClass('{{sectionChild.url}}')">
                                <i class="dkv-icon-{{sectionChild.icon}}"></i> {{sectionChild.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Content : Videos -->

        <div class="dkv-content dkv-middle col-xs-9 col-sm-9 col-md-9 col-lg-10">
            <div class="dkv-pad">

                <div class="dkv-videos-placeholder"><i class="dkv-icon-video"></i></div>

                <div class="dkv-no-videos dkv-hidden"><em>{{'_no_videos_' | i18n}}</em></div>

                <div class="dkv-videos">
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 dkv-video"
                            ng-repeat="video in videos"
                            ng-class="{'dkv-selected': isSelected(video)}"
                            ng-click="select(video)">
                        <!--
                        <div class="dkv-video-img">
                            <img src="{{video.thumbnail}}" alt="" class="img-responsive">
                        </div>
                        -->

                        <div class="dkv-video-img">
                            <div class="dkv-videos-thumb">
                                <span class="dkv-clip-outer">
                                    <span class="dkv-clip">
                                        <span class="dkv-clip-inner">
                                            <img ng-src="{{video.thumbnails[1]}}">
                                            <span class="dkv-vertical-align"></span>
                                        </span>
                                    </span>
                                </span>
                                <a ng-click="play(video)" class="dkv-play"><i class="dkv-icon-play"></i></a>
                                <div class="dkv-duration">{{video.duration}}</div>
                            </div>
                        </div>

                        <div class="dkv-video-details">
                            <h4><span>{{video.title}}</span></h4>
                        </div>
                    </div>
                </div>

                <p class="dkv-video-more dkv-hidden">
                    <a class="dkv-btn" ng-click="moreVideos()"><i class="dkv-icon-spin animate-spin"></i>{{'_load_more_' | i18n}}</a>
                </p>
            </div>
        </div>

    </div>

    <div class="row">


        <!-- Bottom -->

        <div class="dkv-bottom col-xs-12 col-sm-12 col-md-12">
            <div class="dkv-pad">
                <!--
                <span ng-click="favorite()" class="dkv-favorite" ng-class="{ 'dkv-on': isFavorite }">Favorite</span>
                <div class="dkv-spinner"></div>
                -->

                <div class="dkv-buttons">
                    <a class="dkv-btn dkv-cancel" ng-click="cancel()">{{'_cancel_' | i18n}}</a>
                    <a class="dkv-btn dkv-submit dkv-disabled" ng-click="addVideo()">{{'_add_video_' | i18n}}</a>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- player -->

<div class="dkv-player dkv-hidden">

    <div class="dkv-wrap">
        <div class="dkv-window">
            <iframe src="" frameborder="0" allowfullscreen="true" allowscriptaccess="true"></iframe>
        </div>
    </div>

    <div class="dkv-bottom">
        <div class="dkv-pad">
            <div class="dkv-buttons">
                <a ng-click="back()" class="dkv-back dkv-btn"><i class="dkv-icon-layout"></i>{{'_back_to_videos_' | i18n}}</a>
                <!-- <a href="#" class="dkv-cancel dkv-btn">Cancel</a> -->
                <a ng-click="addVideo()" class="dkv-btn dkv-submit dkv-disabled">{{'_add_video_' | i18n}}</a>
            </div>
        </div>
    </div>
</div>