
.dkv-icon-spin:before { content: '\e80f'; } /* '' */
.dkv-icon-vimeo:before { content: '\e802'; } /* '' */
.dkv-icon-menu:before { content: '\e806'; } /* '' */
.dkv-icon-search:before { content: '\e80c'; } /* '' */
.dkv-icon-favorites:before { content: '\e805'; } /* '' */
.dkv-icon-layout:before { content: '\e807'; } /* '' */
.dkv-icon-cog:before { content: '\e808'; } /* '' */
.dkv-icon-video:before { content: '\e80b'; } /* '' */
.dkv-icon-uploads:before { content: '\e80a'; } /* '' */
.dkv-icon-cw:before { content: '\e809'; } /* '' */
.dkv-icon-explore:before { content: '\e80e'; } /* '' */
.dkv-icon-down-dir:before { content: '\e804'; } /* '' */
.dkv-icon-play:before { content: '\e803'; } /* '' */
.dkv-icon-youtube:before { content: '\e801'; } /* '' */
.dkv-icon-history:before { content: '\e80d'; } /* '' */