@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?15778636');
  src: url('../font/fontello.eot?15778636#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?15778636') format('woff'),
       url('../font/fontello.ttf?15778636') format('truetype'),
       url('../font/fontello.svg?15778636#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?15778636#fontello') format('svg');
  }
}
*/
 
 [class^="dkv-icon-"]:before, [class*=" dkv-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.dkv-icon-spin:before { content: '\e80f'; } /* '' */
.dkv-icon-vimeo:before { content: '\e802'; } /* '' */
.dkv-icon-menu:before { content: '\e806'; } /* '' */
.dkv-icon-search:before { content: '\e80c'; } /* '' */
.dkv-icon-favorites:before { content: '\e805'; } /* '' */
.dkv-icon-layout:before { content: '\e807'; } /* '' */
.dkv-icon-cog:before { content: '\e808'; } /* '' */
.dkv-icon-video:before { content: '\e80b'; } /* '' */
.dkv-icon-uploads:before { content: '\e80a'; } /* '' */
.dkv-icon-cw:before { content: '\e809'; } /* '' */
.dkv-icon-explore:before { content: '\e80e'; } /* '' */
.dkv-icon-down-dir:before { content: '\e804'; } /* '' */
.dkv-icon-play:before { content: '\e803'; } /* '' */
.dkv-icon-youtube:before { content: '\e801'; } /* '' */
.dkv-icon-history:before { content: '\e80d'; } /* '' */